@tailwind base;
@tailwind components;
@tailwind utilities;


/* Vanilla css seems to offer more granular control over gradient than tailwind */

html, body{
/* background: linear-gradient(to right, rgb(255, 228, 230), rgb(233, 209, 240)); */
background-image: linear-gradient(to bottom, #ccd3dc, #25314e);
height: 100%;
overflow: clip;
}

/* html, body{
background: linear-gradient(to right, rgb(245, 234, 234), rgb(27, 154, 170))
} */


.button {
  @apply rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 items-center flex flex-row justify-between
}

.icons {
  @apply pr-2
}

/* Main section with all of the cards */

#main{
  @apply flex justify-center
}

#cards-section {
  @apply flex justify-around w-[70%] mt-10
}

h2 {
  @apply text-lg
}

.card-columns {
  @apply flex flex-col w-[40%] items-center
}

#overlay {
  @apply flex h-screen items-center overflow-clip;
  /* background-image: linear-gradient(to bottom, #ccd3dc, #25314e); */
  /* background-image: linear-gradient(to bottom, #c6f5fb, #556c70); */
  /* background-image: radial-gradient(circle at center, #ECEFF4, #3B4252); */
  background-image: linear-gradient(to bottom, #ccd3dc, #25314e);
}


.start{
  @apply w-fit items-center p-10 rounded-md flex border border-slate-300 shadow mb-4 bg-[#F8FFE5] mx-auto h-36 justify-center overflow-clip
}

#config_pic {
  @apply rounded-md shadow-sm border-solid border-2 border-slate-300 mx-2
}

.start-message{
  @apply flex flex-row
}

#docBtn{
  @apply ml-2 h-6 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 items-center flex flex-row justify-between
}