@tailwind base;
@tailwind components;
@tailwind utilities;


/* Vanilla css seems to offer more granular control over gradient than tailwind */

html, body{
background-image: linear-gradient(to bottom,#449da8, #ECEFF4 );
background-attachment: fixed;
height: 100%;
}

/* html, body{
background: linear-gradient(to right, rgb(245, 234, 234), rgb(27, 154, 170))
} */


.button {
  @apply rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 items-center flex flex-row justify-between
}

.fetchButton {
@apply rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 items-center flex flex-row justify-between mx-2
}

.autoFetchButton {
@apply rounded-md bg-gray-300 px-3 py-2 text-sm font-semibold text-gray-700 shadow-sm ring-1 ring-inset ring-gray-300 items-center flex flex-row justify-between mx-2
}

.icons {
  @apply pr-2
}

/* Main section with all of the cards */

#main{
  @apply flex justify-center pt-20
}

#cards-section {
  @apply flex justify-around w-[70%] mt-10
}

h2 {
  @apply text-lg
}

.card-columns {
  @apply flex flex-col w-[40%] items-center overflow-scroll
}

#overlay {
  @apply flex h-screen items-center overflow-clip 
}

.start{
  @apply w-fit items-center p-10 rounded-md flex border border-slate-300 shadow mb-4 bg-[#F8FFE5] mx-auto h-36 justify-center overflow-clip
}

.start-message{
  @apply flex flex-row
}

.start-button{
  @apply mx-2 h-6 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 items-center flex flex-row justify-between
}

.title{
  @apply text-2xl mb-4 text-slate-300 border-2 p-2 rounded-md border-slate-300 w-[100%] text-center
}

.start_icon{
  @apply mr-2
}

#start_point{
  @apply text-[#FFC43D] text-3xl relative -top-12 -left-6
}